body{
    background-color: rgb(203, 203, 204);
    margin-top:15px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom:15px;
}

.header {
    padding: 20px;
    text-align: center;
    background: white;
    color: black;
  }

.navbar{
    display: flex;
    background-color: rgb(18, 18, 18);
    align-items: center;
    justify-content: center;
}
